/*HERO START - start*/
.PageHome {
  margin: 0;
  padding: 0;
}

.HeroStart {
  background-image: url("/src/images/heroPicSmall.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--DarkText);
  text-align: center;
  padding: 150px 20px;
  width: 100%;
}
.HeroStart::before {
  background-color: rgba(var(--LogoColorRGB), 0.75);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2; /* Place content above the overlay */
}
.HeroStart h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.HeroStart h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.HeroStart p {
  font-size: 18px;
  margin: 0 auto 40px auto;
  max-width: 600px;
}

@media (max-width: 768px) {
  .HeroStart {
    padding: 100px 10px;
    overflow: hidden;
  }
  .HeroStart h1 {
    font-size: 40px;
  }
  .HeroStart h3 {
    font-size: 24px;
  }
  .HeroStart p {
    font-size: 16px;
    max-width: 90%;
  }
}
/*HERO START - end*/
/*HOW CAN I HELP - start*/
.HowCanIHelp {
  background-color: var(--BGColor);
  color: var(--TextColor);
  padding: 60px 20px;
  text-align: center;
}
.HowCanIHelp h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.service-card {
  background-color: var(--AccentColor);
  color: var(--BGColor);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s;
}
.service-card:hover {
  transform: translateY(-10px);
}
.service-icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.service-card p {
  font-size: 16px;
}
@media (max-width: 768px) {
  .service-card {
    width: 80%;
  }
}
/*HOW CAN I HELP - end*/
/*HAVE QUESTIONS? - start*/
.HaveQuestions {
  padding: 60px 20px;
  background-color: var(--AccentColor1);
  color: var(--TextColor);
  text-align: center;
}
.HaveQuestions h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
.faq-list {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.faq-item {
  background-color: var(--BGColor);
  color: var(--TextColor);
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.faq-questions {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-questions h3 {
  font-size: 18px;
  margin: 0;
}
.faq-question span {
  font-size: 24px;
}
.faq-answer {
  padding: 0 20px 15px 20px;
}
.faq-answer p {
  margin: 0;
}
.faq-item.active .faq-answer {
  display: block;
}
.faq-item .faq-answer {
  display: none;
}
/*HAVE QUESTIONS? - end*/
