/*HERO START - start*/
.PageHome {
  margin: 0;
  padding: 0;
}

.HeroStart {
  background-image: url("/src/images/heroPicSmall.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--DarkText);
  text-align: center;
  padding: 150px 20px;
  width: 100%;
}
.HeroStart::before {
  background-color: rgba(var(--LogoColorRGB), 0.75);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2; /* Place content above the overlay */
}
.HeroStart h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.HeroStart h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.HeroStart p {
  font-size: 18px;
  margin: 0 auto 40px auto;
  max-width: 600px;
}

@media (max-width: 768px) {
  .HeroStart {
    padding: 100px 10px;
    overflow: hidden;
  }
  .HeroStart h1 {
    font-size: 40px;
  }
  .HeroStart h3 {
    font-size: 24px;
  }
  .HeroStart p {
    font-size: 16px;
    max-width: 90%;
  }
}
/*HERO START - end*/
