.FooterJuansTrainer {
  background-color: #010101;
  color: var(--DarkAccent);
  padding: 0 20px;
  border: 4px solid var(--LogoColor);
}
.FooterJuansTrainer img {
  width: 250px;
  margin: 0;
  padding: 0;
}
.FooterJuansTrainer h4 {
  text-transform: uppercase;
  font-size: 26px;
  margin-top: 20px;
}
.FooterJuansTrainer h5 {
  margin-top: 20px;
}
.FooterJuansTrainer a {
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
  color: var(--AccentColor1);
}
.FooterJuansTrainer .footer-icons {
  font-size: 20px;
  margin-left: 10px;
  color: var(--AccentColor1);
}
.FooterJuansTrainer .footer-icons:hover {
  color: var(--AccentColor2);
  cursor: pointer;
}
.FooterJuansTrainer a:hover {
  color: var(--AccentColor2);
  cursor: pointer;
}
