.FooterMuri {
  text-align: end;
  color: var(--TextColor);
  background-color: var(--BGColor);
  padding: 25px;
}
.FooterMuri p {
  opacity: 0.6;
  font-size: 12px;
}
.FooterMuri a {
  text-decoration: none;
  font-weight: 600;
  color: var(--AccentColor);
}
.FooterMuri a:hover {
  color: var(--AccentColor2);
}
.FooterMuri a img {
  width: 12px;
}
