.FooterJuansTrainer {
  background-color: var(--BGColor);
  color: var(--TextColor);
  padding: 20px 0;
}
.FooterJuansTrainer .footer-logo {
  width: 200px;
  border-radius: 50%;
}
.FooterJuansTrainer h4,
.FooterJuansTrainer h5 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  color: var(--AccentColor);
}
.FooterJuansTrainer a {
  font-size: 16px;
  text-decoration: none;
  color: var(--TextColor);
}
.FooterJuansTrainer a:hover {
  color: var(--AccentColor1);
  cursor: pointer;
}
.FooterJuansTrainer .footer-icons {
  font-size: 24px;
  margin-right: 10px;
  color: var(--AccentColor);
}
.FooterJuansTrainer .footer-icons:hover {
  color: var(--AccentColor1);
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer-logo {
    width: 150px;
  }
}
