.FooterMuri {
  text-align: end;
  color: black;
  opacity: 0.6;
  margin: 25px;
  padding-bottom: 25px;
}
.FooterMuri p {
  font-size: 12px;
}
.FooterMuri a {
  text-decoration: none;
  font-weight: 600;
  color: var(--LightAccent);
}
.FooterMuri a img {
  width: 12px;
}
