.Navbar {
  width: 100%;
  background-color: var(--BGColor);
  color: var(--TextColor);
  padding: 10px 20px;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
