body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --LogoColor: #3d4947; /*Color del Logo*/
  --AccentColor1: #a8d5ba; /*(Verde Suave)*/
  --AccentColor2: #ffd700; /*(Amarillo Dorado)*/
  /*Light Theme Palette:*/
  --LightBG: #f7f7f7; /*(Blanco Suave)*/
  --LightText: #333333; /*(Gris Oscuro)*/
  --LightAccent: #4d757b; /*(Teal Claro)*/
  /*Dark Theme Palette:*/
  --DarkBG: #1a1a1a; /*(Gris Muy Oscuro)*/
  --DarkText: #ffffff; /*(Blanco)*/
  --DarkAccent: #a7b8b6; /*(Teal Claro)*/
}
